/* КОНТАКТИ ФУТЕР */
.contacts-ftr {
  line-height: 1.7;
  
  &>li:not(:last-child) {
    margin-bottom: 9px;
  }
  /* address footer */
  & .address {
    display: inline-block;
    color: #FFFFFF;
  }
  /* email footer */
  & .mail-ftr,
  & .tel-ftr {
    display: inline-block;
    color: var(--color-contacts-ftr);
    
    transition:
    color var(--anim-main-timing-fuction);
  }
  .mail-ftr,
  .tel-ftr {
    &:focus,
    &:hover,
    &:active {
      color: var(--accent-clr-elmnts)
    }
  }
}
