/* ----------ПОСТІЙНІ КЛІЄНТИ */
.partner-list {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.partner-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 92px;
  fill: currentColor;
  border: 1px solid var(--icons-clr-primary);
  fill: var(--fill-icon-svg);
  border-radius: 4px;

  transition:
    border-color var(--anim-main-timing-function),
    fill var(--anim-main-timing-function);
  &:focus,
  &:hover {
    border-color: var(--accent-clr-elmnts);
    fill: var(--accent-clr-elmnts);
  }
  & .icon-partner {
    width: 106px;
    height: 60px;
  }
}
