/* КОНТАКТИ ШАПКА */
.contacts {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: var(--text-wght-nrml2);
  line-height: 1.14;
  letter-spacing: 0.02em;
  & li:not(:first-child) {
    margin-left: 50px;
  }
  & .mail-hdr,
  & .tel-hdr {
    display: flex;
    align-items: center;
  
    color: var(--color-text-primary);
  
    padding-top: 32px;
    padding-bottom: 32px;
  
    transition:
      color var(--anim-main-timing-function),
      fill var(--anim-main-timing-function);
    
    & .icon-mail {
      width: 16px;
      height: 12px;
      margin-right: 10px;
    
      fill: currentColor;
    }
    & .icon-tel {
      width: 10px;
      height: 16px;
      margin-right: 10px;
    
      fill: currentColor;
    }
  }
  & .mail-hdr:focus,
  & .mail-hdr:hover,
  & .mail-hdr:active,
  & .tel-hdr:focus,
  & .tel-hdr:hover,
  & .tel-hdr:active {
    color: var(--accent-clr-elmnts);
    fill: var(--accent-clr-elmnts);
  }
}
