/* ----------НАША КОМАНДА */
.team-bckgrnd-clr {
  background-color: #F5F4FA;
}

.wrkr-cards-list {
  display: flex;
  gap: 30px;
}

/* КАРТА ПРАЦІВНИКА */
.wrkr-card {
  background-color: #fff;

  width: 270px;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;

  box-shadow:
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  
  & img {
    padding-bottom: 30px;
  }
  & .wrkr-name {
    font-weight: var(--text-wght-nrml2);
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    color: var(--tittle-clr-bold);
  
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 10px;
  }
  & .wrkr-position {
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    color: var(--color-text-primary);
  
    margin: 0px;
    padding-bottom: 16px;
  }
}
